/* Default Roles */
INSERT INTO `ruolo` (`id`, `data_aggiornamento`, `data_creazione`, `nome`) VALUES (1, '2000-01-01 00:00:01', '2000-01-01 00:00:01', 'Admin');
INSERT INTO `ruolo` (`id`, `data_aggiornamento`, `data_creazione`, `nome`) VALUES (2, '2000-01-01 00:00:01', '2000-01-01 00:00:01', 'Preparatore');
INSERT INTO `ruolo` (`id`, `data_aggiornamento`, `data_creazione`, `nome`) VALUES (3, '2000-01-01 00:00:01', '2000-01-01 00:00:01', 'Cliente');

/* Users Examples with password Password123! */
INSERT INTO `utente` (`id`, `attivo`, `cap`, `citta`, `cognome`, `data_aggiornamento`, `data_creazione`, `data_nascita`, `email`, `nome`, `password`, `sesso`, `telefono`, `via`, `preparatore_id`, `ruolo_id`) VALUES (1, b'1', NULL, NULL, 'Admin', '2000-01-01 00:00:01', '2000-01-01 00:00:01', '2000-01-01 00:00:01fitdiary.it', 'Admin', '$2a$10$TKBoxenFl92P6mKsu3QGPu/09eiSwr3khj35gjGSJqrqlrgRjJBga', NULL, NULL, NULL, NULL, 1);
INSERT INTO `utente` (`id`, `attivo`, `cap`, `citta`, `cognome`, `data_aggiornamento`, `data_creazione`, `data_nascita`, `email`, `nome`, `password`, `sesso`, `telefono`, `via`, `preparatore_id`, `ruolo_id`) VALUES (2, b'1', '84085', 'Mercato San Severino', 'Giaquinto', '2000-01-01 00:00:01', '2000-01-01 00:00:01', '1989-02-25', 'giaqui@gmail.com', 'Daniele', '$2a$10$TKBoxenFl92P6mKsu3QGPu/09eiSwr3khj35gjGSJqrqlrgRjJBga', 'M', '3406683793', 'Via Antinori, 2', NULL, 2);
INSERT INTO `utente` (`id`, `attivo`, `cap`, `citta`, `cognome`, `data_aggiornamento`, `data_creazione`, `data_nascita`, `email`, `nome`, `password`, `sesso`, `telefono`, `via`, `preparatore_id`, `ruolo_id`) VALUES (3, b'1', '84084', 'Fisciano', 'Paloso', '2000-01-01 00:00:01', '2000-01-01 00:00:01', '1974-01-28', 'paloso@info.it', 'Peppe', '$2a$10$TKBoxenFl92P6mKsu3QGPu/09eiSwr3khj35gjGSJqrqlrgRjJBga', 'M', '3335689745', 'Via De Prisco, 13', 5, 3);
INSERT INTO `utente` (`id`, `attivo`, `cap`, `citta`, `cognome`, `data_aggiornamento`, `data_creazione`, `data_nascita`, `email`, `nome`, `password`, `sesso`, `telefono`, `via`, `preparatore_id`, `ruolo_id`) VALUES (4, b'1', '84100', 'Salerno', 'Trascendentina', '2000-01-01 00:00:01', '2000-01-01 00:00:01', '2001-08-13', 'inapina@libero.it', 'Costantina', '$2a$10$TKBoxenFl92P6mKsu3QGPu/09eiSwr3khj35gjGSJqrqlrgRjJBga', 'F', '3356895789', 'Corso Vittorio Emanuele, 25/B', 2, 3);
INSERT INTO `utente` (`id`, `attivo`, `cap`, `citta`, `cognome`, `data_aggiornamento`, `data_creazione`, `data_nascita`, `email`, `nome`, `password`, `sesso`, `telefono`, `via`, `preparatore_id`, `ruolo_id`) VALUES (5, b'1', NULL, NULL, 'Nella Roccia', '2000-01-01 00:00:01', '2000-01-01 00:00:01', '1990-01-01', 'preparatore@fitdiary.it', 'Scolpito', '$2a$10$TKBoxenFl92P6mKsu3QGPu/09eiSwr3khj35gjGSJqrqlrgRjJBga', 'M', NULL, NULL, NULL, 2);
INSERT INTO `utente` (`id`, `attivo`, `cap`, `citta`, `cognome`, `data_aggiornamento`, `data_creazione`, `data_nascita`, `email`, `nome`, `password`, `sesso`, `telefono`, `via`, `preparatore_id`, `ruolo_id`) VALUES (6, b'1', '84085', 'Mercato San Severino', 'Monaco', '2000-01-01 00:00:01', '2000-01-01 00:00:01', '1989-02-25', 'lmonaco@gmail.com', 'Leonardo', '$2a$10$TKBoxenFl92P6mKsu3QGPu/09eiSwr3khj35gjGSJqrqlrgRjJBga', 'M', '3368958789', 'Via Giovanni Paolo II, 12', NULL, 2);
INSERT INTO `utente` (`id`, `attivo`, `cap`, `citta`, `cognome`, `data_aggiornamento`, `data_creazione`, `data_nascita`, `email`, `nome`, `password`, `sesso`, `telefono`, `via`, `preparatore_id`, `ruolo_id`) VALUES (7, b'1', '84100', 'Salerno', 'Melmosa', '2000-01-01 00:00:01', '2000-01-01 00:00:01', '2001-08-13', 'cliente@fitdiary.it', 'Tiziana', '$2a$10$TKBoxenFl92P6mKsu3QGPu/09eiSwr3khj35gjGSJqrqlrgRjJBga', 'F', '3356895789', 'Corso Vittorio Emanuele, 25/B', 5, 3);
